# Instalaci칩n del servidor NFS
# En la instalaci칩n del servidor NFS en local no ser치 necesario a침adir un disco

# NFS Server installation (only in master)
- name: nfs server installation
  hosts: nfs
  gather_facts: false
  vars_files:
    - "group_vars/nfs.yaml"
  roles:
    - nfs