# Tareas comunes a realizar en el nodo master y los workers, que
# se realizar치n en los nodos master.local y worker.local
# 1. Configura resoluci칩n DNS (localhost)
# 2. Activar firewall
# 3. Activar transparent masquerading para que los PODs puedan comunicarse dentro del cluster mediante VXLAN
# 4. Copiar configuraci칩n de K8s para permitir que kubernetes maneje correctamente el tr치fico con el cortafuegos
# 5. Desactivar el swap
# 6. Instalar Docker
# 7. Instalar Kubernetes

# Common task in all nodes
- name: Common task in all nodes
  hosts: all
  gather_facts: false
  vars_files:
    - "group_vars/docker.yaml"
    - "group_vars/kubernetes.yaml"    
  roles:
    #- network-conf
    #- swap
    #- docker
    - kubernetes