# Configurando kubernetes en el nodo master, que se realizará solo en el nodo master
# Añadimos también a este playbook la tarea para crear un usuario administrador

# Configuring kubernetes on the master node
- name: Configuring kubernetes on the master node
  hosts: master
  gather_facts: false
  vars_files:
    - "group_vars/kubernetes.yaml"    
    - "group_vars/add-admin-user.yaml"    
  roles:
    - kubernetes-config
    # - add-admin-user